body, html {
	height: 100%;
	width: 100%;
 }

 body {
 	padding-top: 50px;
 }

 .main-page {
	height: 100%;
	width: 100%; 	
 }

#map-canvas {
	height: 100%;
	width: 100%;
	margin: 0;
}

#actions {
	height: 100px;
	width: 100%;
	background-color: white;
	position: absolute;
	right: 10px;
	bottom: 0px;
}

.add-poi {
	position: absolute;
	top: 60px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.filter-controls {
	margin: 20px;
}