.infoBox_header {
 color: white;
 position: relative;
 font-size: 30px;
 left: 80px;
 top: 15px;
}

a {
  color: white;
}

.verified {
  background-color: #d8444f;
  border-color: #d8444f;
}

.not_verified {
  background-color: #47aedb;
  border-color: #47aedb;
}

.infoBox_type {
  position: relative;
  top: -30px;
  left: 10px;
  color: #D8444F;
  font-size: 50px;
  font-weight: bold;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
}

.infoBox_verification {
  position: relative;
  border-left: 10px solid transparent;
  background-color: white;
  height: 20px;
  vertical-align: middle;
  line-height: 20px;
  top: -20px;
}

.infoBox_endorse {
  position: absolute;
  top: 195px;
  background-color: white;
  border-radius: 10px;
  left: 10px;
  font-size: 25px;
  font-weight: bold;
  width: 120px;
  text-align: center;
}

.infoBox_endorse_count {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  top: 205px;
  left: 135px;
}

.infoBox_content {
  position: absolute;
  top: 100px;
  left: 10px;
  font-weight: bold;
  font-size: 12px;
}

.safe-location { 
  border-width: 0px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  width: 400px; 
  height: 240px;
}